.about {
    &-container {
        min-height: 435px;
        background-color: #FBFBFB;
        margin-top: 120px;
        // padding: 0;
        @include displayflex(center);
        flex-wrap: wrap;
    
        @media (max-width: 900px) {
            margin-top: 90px;
        }

        @media (max-width: 590px) {
            margin-top: 30px;
        }

    }

    &__picture {
        position: relative;
        width: 570px;
        height: 435px;
        display: flex;
        flex-wrap: wrap;
        
        @media (max-width: 591px) {
            height: fit-content;
            justify-content: center;
        }
    }

    &__img {
        width: 270px;

        &:first-child {
            margin: 30px 0;
            height: 265px;
        }

        &:nth-child(2) {
            margin-left: 30px;
            margin-top: 60px;
            height: 345px;

            @media (max-width: 591px) {
                margin-top: 0;
            }
        }
        &:nth-child(3) {
            position: absolute;
            margin-top: 30px;
            bottom: -30px;
            height: 140px;

            @media (max-width: 591px) {
                position: static;
            }
        }
    }

    &__text {
        width: 400px;
        margin-left: 30px;
        text-align: justify;
    }

    &__title {
        font-style: normal;
        font-weight: 300;
        font-size: 64px;
        line-height: 64px;
        color: $gray4;
        margin-bottom: 20px;
        margin-top: 30px;

        @media (max-width: 590px) {
            font-size: 54px;
            margin: 10px 0;
        }

        @media (max-width: 400px) {
            font-size: 40px;
        }
    }

    &__desc {
        font-style: normal;
        font-weight: 300;
        font-size: 16px;
        line-height: 25px;
        color: #000000;

        @media (max-width: 590px) {
            font-size: 14px;
            text-align: justify;
            margin: 0 10px;
        }
    }

   
}