.about {
    &-container {
        height: 435px;
        background-color: #FBFBFB;
        margin-top: 120px;
        // padding: 0;
        @include displayflex(center);
        flex-wrap: wrap;
    
        // @media (max-width: 400px) {
        //     height: 100%;
        //     width: 400px;
        // }
    }

    &__picture {
        position: relative;
        width: 570px;
        height: 100%;
        display: flex;
        flex-wrap: wrap;    
    }

    &__img {
        width: 270px;

        &:first-child {
            margin-top: 30px;
            height: 265px;
        }

        &:nth-child(2) {
            margin-left: 30px;
            margin-top: 60px;
            height: 345px;
        }
        &:nth-child(3) {
            position: absolute;
            bottom: -30px;
            height: 140px;
        }
    }

    &__text {
        width: 400px;
        margin-left: 30px;
        text-align: justify;
    }

    &__title {
        font-style: normal;
        font-weight: 300;
        font-size: 64px;
        line-height: 64px;
        color: $gray4;
        margin-bottom: 20px;
        margin-top: 30px;
    }

    &__desc {
        font-style: normal;
        font-weight: 300;
        font-size: 16px;
        line-height: 25px;
        color: #000000;
    }

   
}